/* color */

.bg-red {
    background-color: #CD3D0F;
}

.bg-blue {
    background-color: #2D64E6;
}

.bg-footer {
    background-color: #00439C;
}

.bg-nightblue {
    background-color: #161C3B;
}

.bg-darkgrey {
    background-color: #1F1F1F;
}

.bg-grey {
    background-color: #BEBCBB;
}

.bg-lightgrey {
    background-color: #D9DADC;
}

.bg-white {
    background-color: white;
}

.white {
    color: white;
}

.black {
    color: black;
}

.blue {
    color: #2D64E6;
}

/* generic */

.button {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 30px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 600;
    color: #989898;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

/* header */

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.header-logo {
    height: 35px;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logo {
    height: 15px;
}

/* navbar */

.nav-link span {
    font-weight: bold;
    margin: 0 10px;
}

.nav-link:hover {
    color: black;
}

#button-nav:hover {
    color: white;
}

.nav-link img {
    height: 30px;
}

/* main */

main {
    padding-top: 100px;
}

.jumbo {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    color: white;
    padding: 50px 0;
}

.jumbo img {
    width: 60%;
    margin-bottom: 30px;
}

.jumbo h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.jumbo p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* figure game */

.figure-active {
    margin-top: 20px;
    padding: 2px;
    border: 2px solid #358FD8;
}

.figure-game {
    margin-top: 20px;
}

.figure-game:hover {
    margin-top: 0;
    transition: 0.5s;
}

/* playstation */

#playstation {
    text-align: center;
    margin-bottom: 70px;
}

#playstation span {
    color: #358FD8;
    font-weight: 700;
}

/* console */

.console-active {
    border-bottom: 2px solid #2D64E6;
}

.thumb {
    opacity: .75;
}

.thumb:hover {
    opacity: inherit;
    border-bottom: 2px solid #2D64E6;
}

#console span {
    font-size: 18px;
    font-weight: 600;
    color: #989898;
}

/* takes-two */

.takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    color: white;
    padding: 50px 0;
}

.takes-two-logo {
    width: 50%;
    margin-bottom: 30px;
}

.takes-two p {
    font-size: 16px;
    font-weight: 500;
}

/* news */

#news p {
    font-size: 25px;
}

#news span {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/* plus */

#plus .logo {
    width: 60%;
    height: auto;
}

#plus p {
    font-size: 16px;
}

#button-plus:hover {
    color: #2D64E6;
}

/* now */

#now .logo {
    width: 60%;
    height: auto;
}

#now p {
    font-size: 16px;
    color: white;
}

#button-now:hover {
    color: black;
}

/* footer */

footer .logo {
    height: 100px;
}

footer .globe {
    height: 30px;
    margin-right: 10px;
}

footer .sie {
    height: 60px;
}

footer ul {
    list-style: none;
}

footer p a {
    text-decoration: underline;
}